:host {
    width: 100%;
    height: 100%;
    display:block;
}

:host .line {
  fill: none;
  stroke: black;
  opacity: 0.9;
  stroke-width: 1.5px;
}

:host .line--hover {
    stroke-width: 2px;
    opacity: 1.0;
}

:host .line--fade {
    stroke-width: 1.4px;
    stroke-dasharray: 1,3;
    opacity: 0.5;
}

:host div.tooltip {
  position: absolute;
  text-align: center;
  pointer-events: none;
  line-height: 1;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 4px;
}
  
/* Creates a small triangle extender for the tooltip */
:host div.tooltip:after {
  box-sizing: border-box;
  font-size: 11px;
  top: 98%;
  left: 50%;
  line-height: 1;
  margin-top: -2%;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

:host .axis text {
    font-size: 11px;
    fill: rgba(0, 0, 0, 0.9);
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}
:host .color-label{
    display: inline;
}

:host .axis {
  font: 10px sans-serif;
}

:host .axis path,
:host .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host .axis--x path {
  display: none;
}

:host .zoom {
  fill: none;
  pointer-events: all;
}

:host .view {
  fill: white;
  stroke: #000;
}
