<popover-content #pop title="Display Signals:" [closeOnClickOutside]="true" placement="right">
    <div class="list-group">
        <div class="list-group-item" *ngFor="let sensor of (sensors | dataSensor)">
            <label>{{sensor.fullName | capitalize}}</label>

            <div class="dims">
                <label class="checkbox-inline" *ngFor="let signal of sensor.signals"><input type="checkbox" value="">{{signal.dim}}</label>
            </div>
        </div>
    </div>
</popover-content>

<span class="glyphicon glyphicon-filter" [popover]="pop"></span>