:host {
    width: 100%;
    height: 100%;
    display:block;
}

:host .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

:host .axis text {
    font-size: 11px;
    fill: rgba(0, 0, 0, 0.9);
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}
:host .color-label{
    display: inline;
}

:host .axis {
  font: 10px sans-serif;
}

:host .axis path,
:host .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host .axis--x path {
  display: none;
}

:host .zoom {
  fill: none;
  pointer-events: all;
}

:host .view {
  fill: none;
  stroke: #000;
}
